// Boz-sizing
box-sizing(val)
  box-sizing val
  -moz-box-sizing val
  -webkit-box-sizing val

// FlexBox
flex-display()
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;

flex-align-items(val)
  align-items val
  -ms-flex-align val
  -webkit-align-items val

flex-direction(val)
  flex-direction val
  -ms-flex-direction val
  -webkit-flex-direction val

flex-wrap(val)
  flex-wrap val
  -ms-flex-wrap val
  -webkit-flex-wrap val

flex-order(val)
  order val
  -webkit-order val
  -ms-flex-order val

flex-item(val)
  flex val
  -ms-flex val
  -webkit-flex val
